.dropzone {
  border: 1px dashed var(--stroke-default);
  border-radius: 0.8rem;
  display: grid;
  justify-content: center;
  gap: 0.8rem;
  text-align: center;
  position: relative;
  padding-block: 2.8rem;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }

  p {
    color: #a8a29e;
  }

  &:hover,
  &:has(input:focus) {
    border-width: 2px;
    padding-block: 2.7rem;
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);

    p {
      color: var(--text-tertiary);
    }

    svg path {
      stroke: var(--stroke-highlight);
    }
  }

  svg {
    margin: auto;
  }
}
