@import url(./fields/index.css);

form {
  display: grid;
  gap: 4.8rem;

  fieldset {
    border: none;
    display: grid;
    gap: 2.4rem;

    legend {
      font: var(--heading4);
      margin-bottom: 2.4rem;
    }
  }
}
