#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
  font: var(--font);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

a {
  text-decoration: none;
}

main {
  overflow: auto;
  padding: 6.4rem;

  .main-container {
    display: grid;
    gap: 4.8rem;
    max-width: 52.8rem;
    margin-left: auto;

    header {
      .back {
        margin-bottom: 2.4rem;
        a {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: var(--text-tertiary);

          :hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  h1 {
    font: var(--heading2);
    margin-bottom: 0.8rem;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 6.4rem;

  .aside-container {
    max-width: 49.6rem;

    header {
      display: grid;
      gap: 0.8rem;
      margin-bottom: 3.2rem;

      h2 {
        font: 700 4rem/1.25 var(--font-family);

        span {
          color: var(--text-highlight);
        }
      }
    }
  }
}
